:root{
  --BLK:  #222  ;
  --DGR: #555 ;
  --LGR:  #bbb  ;
  --WHT:#eee  ;

  /* 
    --LGR: #f2d3ab ;
  --WHT: #fbf5ef ;
https://lospec.com/palette-list/oil-6 */
}

.github-pages-ignore {
 display:none;
}


@keyframes adaptation {
  from {
    background:var(--DGR);
  }

  to {
    background:var(--BLK);
  }
}


@keyframes adaptationshadow {
  from {
 box-shadow: var(--DGR) 0 0 100px;
  }

  to {
 box-shadow: var(--DGR) 0 0 0px;
  }
}

body {
 font-family: 'Linux Libertine', serif;
 font-size:12pt;
 background:var(--BLK);
 animation-duration: 10s;
 animation-name: adaptation;
 color:var(--WHT);

}

#main{
   animation-duration: 10s;
 animation-name: adaptationshadow;
 background:var(--WHT);
 color:var(--BLK);
 margin:5px;
}

.markdown-body{
   padding: 10px 50px;

}



@media screen and (max-width: 600px) {
  .markdown-body{
    padding: 10px 10px;
  }
}

header,
#main
{
 margin-left:auto;
 margin-right:auto;
 max-width:600px;
}



header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  align-items: end;
 margin-top:20px;
 margin-bottom:20px;

}

header h1 {
  margin:0;
   color:var(--DGR);
}
header a {
 display:block;
 color:var(--DGR);
}

header a:hover {
 display:block;
 color:var(--LGR);
       text-decoration:none;

}


header nav a,
a.back{
   background:var(--DGR);
 color:var(--WHT);
  margin:3px;
  padding: 0 5px;
}

header nav a:hover,
a.back:hover{
 background:var(--LGR);
  color:var(--DGR);
     text-decoration:none;

  
}
nav {
 display:flex;
 flex-wrap:wrap;
 justify-content:right;
}
a.back:before {
  content:"← ";
}
a.back{
  display: block;
  margin:0;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


img {
 display:block;
 margin: 10px auto;
 max-width:500px;
 max-height:500px;
 max-width:90%
}

/* TABLES */

table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background:var(--WHT)
}

td, th {
  padding: 1pt 3pt;
}

th {
 color:var(--DGR);
}
td {
  border: 1px solid var(--LGR);
   border-right: 2px solid var(--LGR);
}

table, th {
  border: 2px solid var(--LGR);
  
}

/* LISTS */

ul {
  list-style: none;
  margin:.5em 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
  
}

ul li:before {
    content: "⁃";
}

ol li:before {
    content: counter(item) ".";
  counter-increment: item;
}

li:before {
  color: var(--LGR);
  padding-right: 5px;
            font-weight:bold;

}

      ol { counter-reset: item; }
        ol li { display: block; }


/* HEADINGS */
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {

 color:var(--DGR);
  margin:0;
}

#main h1:before ,
#main h2:before ,
#main h3:before ,
#main h4:before ,
#main h5:before ,
#main h6:before {
  color: var(--LGR);
  padding-right: 1px;
  display: none;
}

#main h1:before {content: "﹟";}
#main h2:before {content: "﹟﹟";}
#main h3:before {content: "﹟﹟﹟";}
#main h4:before {content: "﹟﹟﹟﹟";}
#main h5:before {content: "﹟﹟﹟﹟﹟";}
#main h6:before {content: "﹟﹟﹟﹟﹟﹟";}

#main h1 {
  font-size: 24pt;
  margin-top:1em;
  margin-bottom:1em;

  
}
#main h2 {
  font-size: 20pt;
  margin-top:2em;

}
#main h3 {
  font-size: 16pt;
  margin-top:.5em;
}
#main h4 {
  font-size: 14pt;
}
#main h5 {
  font-size: 11pt;
}
#main h6 {
  font-size: 8pt;

}



.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


.image-gallery a {
  width:30%;
  margin-bottom: 10px;
}

.image-gallery a.image-thumb {
  background: white;
}

@media screen and (max-width: 600px) {
.image-gallery a {
  width:80%;
}

}

.image-gallery img {
      max-height: 200px;

}

.image-gallery a span {
font-size: small;
  display: block;
  word-wrap: break-word;
  margin:5px;
} 



footer {
  margin:12px;
}

footer * {
  font-size: small;
  color: var(--DGR)
}

footer p {
  margin: 0;
  margin-top:3px;
  text-align: center;
}


.scenario{
  font-family: 'Tt-Kp', monospace;
  
}

.scenario * {
  font-size :12pt;
  font-style: normal;
}

.scenario p {
  margin-left: 40px;
}


.scenario em {
  display: block;
  margin-left: -40px;
}

.scenario strong {
  display: block;
  text-align: center;
}

.scenario h1,
.scenario h2,
.scenario h3,
.scenario h4 {
  text-transform: uppercase;
}





#agrandisseur{
	display:none;
	position:fixed;
	top:0;
	right:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.8);
	justify-content:center;
  align-items: center;
    cursor:zoom-out;

}

#agrandisseur img {
  max-width: 95%;
  max-height: 95%;
  background: white;
  padding: 5px;
}

article img {
  cursor:zoom-in;
}

blockquote {
  font-size:1.1em;
}
blockquote>p:before, blockquote>p:after {
  color:gray;
  margin:0 .5em;
}
blockquote>p:before {
  content:"\00AB";  
}

blockquote >p:after {
  content:"\00BB";
}


/************************ WEB TO PRINT *************************/


.web {
  display: default;
}
.print {
  display: none;
}

  @media print {
    /* All your print styles go here */
    header,
    footer,
    .back {
      display: none !important;
    }

    .page-break {
      break-after : page;
    }

    .web {
      display: none !important;
    }
    .print {
      display: unset !important;
    }
    #main {
      width:unset;
      max-width: 100%;
    }
    body {
      background: none;
      color: black;
      font-size: 10pt;
    }
    h1, h2 {
      text-align:center;
    }

    .print small {
      display: block;
      border-top : 1px solid black;
      font-size: .7em;
      margin-top : 2em;
    }
    :root{
    --BLK:  #000  ;
    --DGR: #555 ;
    --LGR:  #bbb  ;
    --WHT: #fff ;
    }
  }


