<!doctype html>
<html lang="fr">
<div id="agrandisseur"></div>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="/assets/css/{{ page.type }}.css">
  <link rel="stylesheet" href="{{ '/assets/font/stylesheet.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% seo %}
</head>
<body class="{{ page.type }}">
  <header>
    <h1 class="title"><a href="http://camera-obscura.cienokill.fr/">{{ site.title | default: site.github.repository_name }}</a></h1>
    <nav>
      <a href="http://cienokill.fr/spectacles/camera-obscura/">Nokill</a>
      <a href="{{site.github.repository_url}}/blob/main/{{page.path}}">Github</a>
      <a href="{{site.github.repository_url}}/edit/main/{{page.path}}">Modifier</a>
      <a href="#" onclick="window.print()">Imprimer</a>
    </nav>
  </header>
  <div id="main" role="main">
    {% include back.html %}
    <article class="markdown-body">
      {{ content }}
    </article>
  </div>
  <div class="print">
    <small>Ce document a été généré le {{ "now" | date: "%d/%m/%Y"  }} à partir de la page <a href="http://camera-obscura.cienokill.fr/{{page.path}}">camera-obscura.cienokill.fr/{{page.path}}</a></small>
  </div>
  <footer>
    <p><a href="https://github.com/LeonLenclos/camera-obscura/actions">Dernière mise à jour</a> du site le {{ "now" | date: "%d/%m/%Y"  }}.</p>
    <p>Ce travail est placé sous <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.</p>
    <p><a href="https://cienokill.fr">Cie NOKILL</a> 2022 - {{"now" | date: "%Y"}}</p>
  </footer>
  <script>
    let images = document.querySelectorAll('article img')
    let agrandisseur = document.getElementById('agrandisseur');
    images.forEach((img, i)=>img.addEventListener('click', ()=> show(img, i)))
    agrandisseur.addEventListener('click', ()=>show());
    document.onkeydown = (e)=>{
        e = e || window.event;
        if (e.keyCode == 27) show();
    };

    function show(image, i){
      if(image == undefined){
        agrandisseur.style.display = 'none';
        agrandisseur.innerHTML='';
        return;
      }
      agrandisseur.style.display = 'flex';
      agrandisseur.appendChild(image.cloneNode());
    }
  </script>
</body>
</html>
